
mat-card {
  margin-right: 10px;
    max-width: 100%;
}

mat-grid-tile{
  margin-right: 2rem;
}
mat-spinner{
  margin: auto;
}

mat-paginator {
  margin-top: 10 rem;
}

.example-card {
  max-width: 600px;
  margin-right: 3rem;
}
.example-header-image {
  background-size: cover;
}

.post-container{
  height: 3rem;
  width: 3rem;
}

p {
  width: 80%;
}


.image-thumbnail{
  height: 200px;
  width: 200px;
}

img {
  height: 200px;
  widows: 200px;

}
