ul {
  display: flex;
}

mat-form-field {
  width: 100%;

}

mat-spinner {
margin: auto;
}
mat-card-title {
  margin-bottom: 2rem;

}

mat-card{
  width: 40%;
  margin: auto;
  margin-top: 7rem;
}


.danger {
  background-color: #ffdddd;
  border: 1px solid #f44336;
  margin: auto;
  border-radius: 4px;
  height: 40px;
  width: 300px;
}
